.common .alice-carousel__prev-btn,
.common .alice-carousel__next-btn {
    position: absolute;
    top: 70px;
    width: auto;
    font-size:50px;
}

.common .alice-carousel__next-btn {
   right: 10px
}
.poster-img{
    text-align: center;
    width: 260px;
    height: 250px;
    cursor: pointer;
    transition: all .5s;
   
}
.poster-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 10px;
}
.poster-img:hover{
   transform: scale(1.05);
}
@media (max-width:660px){
    .poster-img{
        width: 159px;
    }
}
@media (min-width:768px){
    .poster-img{
        width:175px;
    }
}
@media (min-width:992px){
    .poster-img{
        width:175px;
    }
}

